# Groq
GROQ_API_KEY=your_groq_api_key_here
LLM_MODEL=llama-3.3-70b-versatile

# Cal.com
CAL_API_KEY=your_cal_api_key_here
CAL_USERNAME=your_cal_username
CAL_EVENT_TYPE_ID=your_event_type_id

# n8n (for booking confirmations)
N8N_BOOKING_WEBHOOK_URL=your_n8n_webhook_url

# Airtable (reuse from Project 1)
AIRTABLE_API_KEY=your_airtable_api_key
AIRTABLE_BASE_ID=your_base_id
AIRTABLE_TABLE_NAME=Appointments

#Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK

# App
APP_ENV=development